@use '../../styles/variables' as *;

.book-hub {
  text-align: center;
  height: 90vh;
  width: 100vw;
  background-image: url(../../assets/images/corax.jpg);
  background-size: cover;
  font-size: 4em;
  color: whitesmoke;
}
