@use '../../styles/variables' as *;

.book-hub {
  text-align: center;
  height: 95vh;
  width: 100vw;
  background-image: url(../../assets/images/Shutterstock_1585685068.jpg);
  background-size: cover;
  font-size: 40px;
}
