@use '../../styles/variables' as *;

.form-page {
  background-image: url(../../assets/images/knit-pattern.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5rem;
}

.form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: rgb(253, 253, 253);
  margin: 1rem auto;
  border: 1px solid darken(grey, 5%);
  border-radius: 30px;

  &__heading {
    width: 100%;
    color: black;
    font-size: 1.6em;
    display: block;
    background: $secondary-color;
    width: 100%;
    padding: 0.75em 1em 0.75em 1.5em;
    margin: 0;
    border: 1px solid $accent-color;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  &__form-button {
    display: inline-block;
    background: lighten($accent-color, 15%);
    border: 1px solid black;
    padding: 0.5em 2em;
    margin-right: 0.5em;
    font-size: 18px;
    border-radius: 5px;
    &:hover {
      background: lighten($accent-color, 30%);
    }
    &:active {
      background: $accent-color;
      box-shadow: inset 0px 1px 1px fadeout(black, 90%);
    }
  }

  &__dropdown {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    color: $form-detail;
    border: none;
    border-bottom: 1px solid #acacac;
    background: none;
  }
}

form {
  display: block;
  width: 100%;
  padding: 2em;
}

input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #acacac;
  padding-bottom: 1.25em;
  color: $form-detail;
  &:focus {
    outline: none;
  }
}

textarea {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  color: $form-detail;
}
