@use '../../styles/variables' as *;

.book-list-page {
  background-image: url(../../assets/images/book-list-background.jpg);
  background-size: cover;
  height: 100vh;
}

.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  &__heading {
    text-align: center;
    margin: 2rem 0;
    margin-left: 3rem;
    font-size: 52px;
  }

  &__cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__img {
    width: 25rem;
    height: 10rem;
  }
}
