$blue: rgb(144, 96, 255);
$secondary-color: rgba(159, 228, 181, 0.767);
$main-color: rgb(253, 247, 236);
$form-detail: #141414;
$accent-color: rgb(108, 6, 204);
$shadow-color: rgb(0, 0, 0, 0.5);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
