@use '../../styles/variables' as *;

.pattern {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgba(137, 252, 172, 0.795);
  border-radius: 15px;

  h3 {
    font-size: 32px;
    margin: 0;
  }

  p {
    font-size: 16px;
  }
}
.pattern:hover {
  cursor: pointer;
}
