@use '../../styles/variables' as *;

.book-form-page {
  background-image: url(../../assets/images/mike-tinnion-3ym6i13Y9LU-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 5rem;
}
