@use '../../styles/variables' as *;

.search-bar {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding-top: 5rem;

  &__back-button {
    font-size: 1.6em;
    background-color: $secondary-color;
    border: 2px solid $accent-color;
    border-radius: 6px;
    margin: 1rem 8.5rem;
    width: 10rem;
  }

  &__back-button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 5px 5px $shadow-color;
  }
  &__back-button:active {
    transform: translateY(1px);
    box-shadow: 0 5px 5px $shadow-color;
  }

  &__form {
    background-color: $main-color;
    border-radius: 5px;
    height: 40%;
    margin: 3rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__label {
    font-size: 2em;
  }
  &__input {
    margin: 1rem;
    padding: 5px 5px;
    font-size: 18px;
    border: 2px solid $accent-color;
    border-radius: 10px;
    width: 20rem;
  }
}

label {
  margin: 1rem;
  color: rgb(0, 0, 0);
}
