@use '../../styles/variables' as *;

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(182, 182, 182);

  &__item {
    text-decoration: none;
    font-size: 32px;
    margin: 10px 0;
    color: black;
  }

  &__item:hover {
    color: rgb(108, 6, 204);
  }
}
