@use '../../styles/variables' as *;

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $secondary-color;

  &__item {
    text-decoration: none;
    font-size: 32px;
    margin: 10px 0;
    color: black;
  }

  &__item:hover {
    color: $accent-color;
  }
}
