@use '../../styles/variables' as *;
.pattern-hub {
  background-image: url(../../assets/images/knit-background.jpg);
  background-size: cover;
  font-size: 35px;
  height: 89vh;
  &__image {
    padding-top: 3rem;
    width: 50rem;
    height: 10rem;
  }
}
