@use '../../styles/variables' as *;

.book {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  background-color: rgba(253, 247, 236, 0.575);

  &__btn-container {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 1.5rem;
    margin: 0.3rem 0;
    background-color: $secondary-color;
    border: 1px solid $accent-color;
    border-radius: 5px;
    cursor: pointer;
  }

  h2 {
    font-size: 32px;
    margin: 0;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
    font-weight: 500;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
  }
}
