@use '../../styles/variables' as *;

.book {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  background-color: rgba(253, 247, 236, 0.575);

  h2 {
    font-size: 32px;
    margin: 0;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 22px;
    font-weight: 500;
  }

  &__btn-box {
    display: flex;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    display: flex;
  }
}
